/* Variables */

:root {
  --white: #ffffff;
  --white-cofee: #f8f7f4;
  --white-cofee-sub: #fefefe;
  --white-transparent: rgba(255, 255, 255, 0.8);
  --white-transparent-popup: rgba(255, 255, 255, 0.2);
  --orange-bright-cart: #e84d37;
  --submenu-hover: #fbded7;
  --submenu-active: #F6B5A5;
  --submenu-current:#D07058;
  --form-focus-within: rgba(46, 136, 228, 0.52);
  --form-hover-within: rgba(178, 178, 178, 0.52);
  --social-border: rgba(255, 255, 255, 0.5);
  --social-border-active: rgba(255, 255, 255, 0.7);
  --toggle-shadow: rgba(171, 171, 171, 0.3);
  --raspb-background: #cc5e79;
  --chocko-background: #725044;
  --advantages-background: #efe1c7;
  --login-color: #999999;
  --a-hover: #ffbc9e;
  --a-active: #E84D37;
  /**/
  --orange-normal-button: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --orange-push-button: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --button-hover: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --button-activate: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.07),
      rgba(0, 0, 0, 0.07)
    ),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  /**/
  --basic-blue: #8996a6;
  --basic-green: #849d8f;
  --basic-gray: #9d8b84;
  --asphalt: #323232;
  --subscribtion-text: #5a5a5a;
  --box-shadow: rgba(172, 16, 0, 0.64);
  --box-shadow-menu: rgba(0, 0, 0, 0.4);
  --box-shadow-inset: 0px 2px 2px #942718;
  --border-box-menu: #d3d3d2;
  --menu-button-shadow: #696969;
  --menu-button-backg-activ: #ededed;
  --email-input-border: var(--form-hover-within);
  --transp-price: #ababab;
  --multp-price: #000000;
  --text-shadow: rgba(160, 32, 11, 0.76);
  --current-page: #d07058;
  --modal-dark-wrapper: rgba(0, 0, 0, 0.2);
  --showcase-shadow: rgba(0, 0, 0, 0.2);
  --modal-wrapper: rgba(0, 0, 0, 0)
}

/* Global */

.tel {
  text-decoration: none;
  color: inherit;
}

.button {
  font: inherit; /*по умолчанию у браузеров monospace*/
  text-align: center;
  background: var(--orange-normal-button);
  vertical-align: middle;
  color: var(--white);
  border-radius: 70px;
  font-size: 18px;
  line-height: 24px;
  box-shadow: 0px 2px 2px var(--box-shadow);
  text-shadow: 0px 2px 2px var(--text-shadow);
  border: none;
}

.button:hover {
  border: none;
  background-image: var(--button-hover);
}

.button:active {
  background-image: var(--button-activate);
  box-shadow: inset var(--box-shadow-inset);
  border-radius: 50px;
}

.button:focus {
  border: none;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto','Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
  text-decoration: none;
}



img {
  max-width: 100%; /*не больше чем контейнер*/
  height: auto; /*для созранения пропорции картинки*/
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
  /*!не работает изза обертки слайдера на стиль сайта*/
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  /*шапка,боди,футер*/
  align-content: start;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto; /*выравнивание по центру*/
  padding: 0 27px;
}


/* Header */

.navigation-wrapper,
.form-filter {
  z-index:2;
}


.navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 154px;
  height: 64px;
  order: -1; /*ставит лого на 1 место. можно удалить*/
}

.breadcrumbs {
  position: relative;
  display: flex;
  list-style: none;
  color: var(--white);
  margin-top: -28px;
}

.breadcrumbs a,
.breadcrumbs .currentpos {
  margin-right: 22px;
  color: var(--white);
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a:hover {
  color:var(--a-hover);

}

.breadcrumbs a:active {
  color:var(--a-active);
}


.breadcrumbs li:nth-child(2)::before {
  position: absolute;
  top: -1px;
  left: 89px;
  content: url(../img/bread-arrow.svg);
}

.breadcrumbs li:nth-child(3)::before {
  position: absolute;
  top: -1px;
  left: 164px;
  content: url(../img/bread-arrow.svg);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 9px;
}

.site-navigation ul {
  margin: 0;
  padding: 0;
}
/*!n*/
.site-menu-inactive {
  display: inline-block;
  vertical-align: baseline;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 13px;
  padding-right: 13px;
  color: var(--white);
  font-weight: bold;
  margin-right: 6.5px;
  margin-bottom: 11px;
  border-radius: 26px;
  font-family: 'Roboto','Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline var(--white-transparent-popup);
}


.catalog-pad {
  position: relative;
}

.catalog-pad:hover .site-menu-catalog.site-menu-inactive {
  /*для активного hover при переходе на submenu*/
  color: var(--asphalt);
  background-color: var(--white);
}

.catalog-pad:hover .catalog-submenu {
  /*для активного hover при переходе на submenu*/
display: flex;
}

.site-menu-inactive[href]:hover {
  color: var(--asphalt);
  background-color: var(--white);
}

.site-menu-inactive[href]:active {
  background: var(--menu-button-backg-activ);
  box-shadow: inset 0px 2px 1px var(--menu-button-shadow);
}

.site-menu-active {
  background-color: var(--current-page);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  width: 89px;
  color: var(--white);
  font-weight: bold;
  margin-right: 4px;
  margin-bottom: 11px;
  border-radius: 26px;
  text-decoration: none;
}

.site-menu-active[href]:hover {
  /*для деактивации белого ховера*/
  background-color: var(--current-page);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  width: 89px;
  color: var(--white);
  font-weight: bold;
  margin-right: 4px;
  margin-bottom: 11px;
  border-radius: 26px;
}

.catalog-submenu {
  display: none;
  z-index: 10;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: -8px;
  top: 36px;
  background-color: var(--white);
  box-shadow: 0px 20px 20px var(--box-shadow-menu);
  border-radius: 4px;
  min-width: 143px;
  min-height: 171px;
  padding: 0px;
  margin: 0px;
}

.catalog-submenu li {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
}

.catalog-submenu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 27px;
  padding-left: 21px;
  color: var(--asphalt);
}


.catalog-submenu li:first-child {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 6px;
}

.site-navigation img {
  margin-right: 11px;
}

.user-navigation {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 18px;
  /*align-items: center;*/
}

.separator {
  position: absolute;
  top: 38px;
  left: 6px;
}

.catalog-submenu .submenu-inactive:hover {
  background-color: var(--submenu-hover);
}

.catalog-submenu .submenu-inactive:active {
  background-color: var(--submenu-active);
}

.catalog-submenu .submenu-active {
  background-color: var(--submenu-current);
}

.user-navigation > a {
  margin-left: 10px;
}

.login svg,
.cart svg {
  position: absolute;
  left: 16px;
  top: 6px;
}

.button-hover:hover path {
  fill: var(--asphalt);
}

.menu-text-login {
  padding-left: 44px;
}

.menu-text-cart {
  padding-left: 45px;
}

.user-navigation .button-hover:hover {
  background-color: var(--white);
  color: var(--asphalt);
}

.search-pad {
  position: relative;
  height: 32px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-right: 10px;
}

.search-pad:hover .search-field {
  display: flex;
}

.search-pad:hover .button-hover, 
.search-pad:hover path {
  /*при работе с сабменю, ховер остается*/
  background-color: var(--white);
  color: var(--asphalt);
  fill: var(--asphalt);
}

.user-navigation a {
  display: flex;
  position: relative;
  text-decoration: none;
  color: var(--white);
  background-color: var(--white-transparent-popup);
  vertical-align: middle;
  align-items: center;
  border-radius: 20px;
  font-family: 'Roboto','Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.user-navigation .search {
  min-width: 32px;
  min-height: 32px;
  justify-content: center;
}

.user-navigation .login {
  min-width: 92px;
  min-height: 32px;
}

.login-pad{
  position: relative;
  height: 32px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-right:10px;
  
}

.login-pad:hover .login-form {
  display: flex;
}

.login-pad:hover .button-hover, 
.login-pad:hover path {
  /*при работе с сабменю, ховер остается*/
  background-color: var(--white);
  color: var(--asphalt);
  fill: var(--asphalt);
}

.user-navigation .cart {
  min-width: 100px;
  min-height: 32px;
}

.user-navigation .cart-full {
  position: relative;
  min-width: 118px;
  min-height: 32px;
  background-color: var(--white);
  color: var(--asphalt);
  font-family: 'Roboto','Arial', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.cart-full::before {
  position: absolute;
  content: url(../img/cart-full.svg);
  top: 6px;
  left: 16px;
}

.cart-full svg {
  position: absolute;
  left: 16px;
  top: 6px;
}

.card-pad-full {
  position: relative;
  padding-bottom: 5px;
  padding-top: 5px;
}

.cart-pad {
  position: relative;
  height: 32px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.cart-pad:hover .button-hover, 
.cart-pad:hover path {
  /*при работе с сабменю, ховер остается*/
  background-color: var(--white);
  color: var(--asphalt);
  fill: var(--asphalt);
}

.cart-pad-full:hover .button-hover, 
.cart-pad-full:hover path {
  /*при работе с сабменю, ховер остается*/
  background-color: var(--white);
  color: var(--asphalt);
  fill: var(--asphalt);
}



.card-pad-full:hover .cart-field {
  display: inline-block;
  vertical-align: baseline;
}


.work-time {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: -3px;
  margin-right: 0.5px;
  text-align: right;
}

.work-time p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto','Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}


.work-time-bold a {
  display: block;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  margin-top: 8px;
}

/* Slider */

.site-wrapper-main {
  /*для каталога*/
  background-image: linear-gradient(var(--white-transparent-popup) 330px, transparent 660px);
  background-repeat: no-repeat;
  background-color: var(--basic-green);

}

.site-wrapper-1 {
  /*для JS*/
  background-image: url(../img/slider-item1.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: var(--basic-green);
}

.site-wrapper-2 {
  /*для JS*/
  background-image: url(../img/slider-item2.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: var(--basic-blue);
}

.site-wrapper-3 {
  /*для JS*/
  background-image: url(../img/slider-item3.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: var(--basic-gray);
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 321px; /*раздвигаем контейнер*/
  text-align: center;
}

.slide-title {
  max-width: 672px;
  margin: 0 auto;
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.slider-list {
  /*убирае отступы списка по умлочанию*/
  margin: 0;
  padding: 0;
  margin-top: -46px;
  list-style: none;
}

.slider-item .slide-button {
  display: flex;
  width: 278px;
  height: 63px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 40px;
  font-family: 'Roboto','Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider-controls {
  margin-right: 8px;
  position: absolute;
  bottom: 62px;
  left: 28px;
  z-index: 20;
}

.slider-controls .bullet {
  width: 21px;
  height: 21px;
  border: 2px solid var(--white);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  margin-right: 4px;
}

.slider-controls .current {
  background-color: var(--white);
}

.slider-controls .current {
  background-color: var(--white);
}

.slider-controls .bullet1:not(.current):hover {
  background-color: var(--white-transparent-popup);
}

.slider-controls .bullet2:not(.current):hover {
  background-color: var(--white-transparent-popup);
}

.slider-controls .bullet3:not(.current):hover {
  background-color: var(--white-transparent-popup);
}

.slide {
  display: none;
}

.slide-current {
  display: flex;
}
/* Features */

.features-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}

.features-raspb h2,
.features-choko h2 {
  margin: 0;
  margin-top: 16px;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  padding-left: 16px;
}

.features-raspb p,
.features-choko p {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  padding-left: 16px;
  margin-top: 17px;
}

.features-raspb a,
.features-choko a {
  text-decoration: none;
  color: var(--white);
}

.features-raspb {
  position: relative;
  width: 560px;
  min-height: 229px;
  background-image: url(../img/raspberry_back.jpg);
  background-color: var(--raspb-background);
  background-size: cover;
  border-radius: 16px;

}

.features-choko {
  position: relative;
  width: 560px;
  min-height: 229px;
  background-image: url(../img/choko_back.jpg);
  background-color: var(--chocko-background);
  background-size: cover;
  border-radius: 16px;

}

.button.strawb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 48px;
  margin-left: 374px;
  margin-top: 41px;
  margin-bottom: 22px;
}

.button.choko {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 48px;
  margin-left: 347px;
  margin-top: 41px;
  margin-bottom: 22px;
}

/* Showcase */

.showcase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;
  z-index: 10;
  margin-top: 34px;
  grid-row-gap: 17px;
}

.showcase-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 293px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
}

.showcase-item h2 {
text-decoration: underline var(--white-transparent-popup);
}


.showcase-item:hover::after {
  content: '';
  z-index: 9;
  display: flex;
  justify-content: flex-start;
  background-color: var(--white-transparent-popup);
  box-shadow: 0px 20px 20px var(--showcase-shadow);
  border-radius: 4px;
  position: absolute;
  top: 2px;
  width: 267px;
  padding-right: 12px;
  padding-left: 12px;
  left: -12px;
  height: calc(103% + 55px);
}

.showcase-item:hover .showcase-button {
  display: flex;
  z-index: 11;
  position: absolute;
  top: calc(100% - 4px);

}

.showcase-img {
  width: 267px;
}

.showcase li {
  display: flex;
  position: relative;
  justify-content: flex-start;
  text-decoration: none;
  list-style: none;
  width: 267px;
  align-items: flex-start;
}

.showcase h2 {
  margin-top: 7px;
  font-weight: 500;
  font-size: 16px;
  z-index: 11;
  text-decoration: underline var(-);
}

.showcase p {
  top: 200px;
  left: 12px;
  position: absolute;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-top: 15px;
  margin-left: -12px;
}

.showcase .weight {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

.showcase-button {
  width: 200px;
  height: 44px;
  text-decoration: none;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 2px var(--box-shadow);
}

.showcase-button a {
  text-decoration: none;
  vertical-align: middle;
  color: var(--white);
}

.showcase-main li::after {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61px;
  height: 57px;
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
  content: url(../img/hit.svg);
  top: 11px;
  left: 0px;
}

/* Advantages */

.advantages-items {
  /*position: relative;*/
  display: grid;
  grid-row-gap: 2px;
  grid-column-gap: 39px;
  grid-template-columns: repeat(2, 1fr);
}

.advantages-wrapper {
  color: var(--asphalt);
  background-image: url(../img/vaffle_pattern2.jpg); /* '..' выходим из папки css на уровень вверх, и заходим в папку img */
  background-color: var(--advantages-background);
  background-repeat: repeat;
  width: 1146px;
  min-height: 306px;
  border-radius: 16px;
  margin-bottom: 40px;
  margin-top: 27px;
}

.advantages h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  margin-left: -7px;
  font-family: 'Roboto','Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.advantages-items p {
  position: relative; /*!каждый псевдоэлемент-картинка будет абсолют к своему p*/
  font-size: 16px;
  line-height: 22px;
  margin-left: 48px;
  font-family: 'Roboto','Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 2px;
}

.advantages-items .plombir:before {
  position: absolute;
  top: -11px;
  left: -55px;
  content: url(../img/ice_sundae2.svg);
}

.advantages-items .cow:before {
  position: absolute;
  top: -11px;
  left: -54px;
  content: url(../img/cow2.svg);
}

.advantages-items .eco:before {
  position: absolute;
  top: -9px;
  left: -55px;
  content: url(../img/eco2.svg);
}

.advantages-items .thermo:before {
  position: absolute;
  top: -9px;
  left: -54px;
  content: url(../img/thermometr2.svg);
}

/* Blog new */

.container.newsubscr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.blog-new-wrapper {
  background-image: url(../img/strawberry_back.jpg);
  background-color: var(--white);
  background-size: cover;
  /*background-image: 100%;*/
  width: 560px;
  min-height: 220px;
  border-radius: 16px;
}

.blog-new {
  padding-left: 20px;
  text-align: left;
  color: var(--asphalt);
  margin-right: 26px;
}

.blog-new h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-top: -9px;
  font-family: 'Roboto','Arial', sans-serif;
  font-style: normal;
  width: 285px;
}

.blog-new h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding-top: 2px;
}

.blog-new a {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--asphalt);
}

/* Subscribtion */

.subscr-wrapper {
  display: flex;
  background-image: url(../img/post_back.png);
  background-size: cover;
  background-color: var(--white-transparent-popup);
  width: 560px;
  min-height: 220px;
  border-radius: 16px;
}

.subscribtion {
  text-align: left;
  border-radius: 16px;
  background-color: var(--white-cofee);
  color: var(--subscribtion-text);
  width: 548px;
  min-height: 210px;
  padding-left: 20px;
  margin-top: 5px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 5px;
}

.subscribtion p {
  margin-top: 25px;
  width: 515px;
}

.subscribtion form {
  margin-top: 38px;
  margin-bottom: 35px;
}

.subscribtion .input_email {
  box-sizing: border-box;
  border: 1px solid var(--email-input-border);
  border-radius: 6px;
  width: 368px;
  height: 44px;
  margin-right: 6px;
  padding-left:13px;
}

.subscribtion .input_email:focus-within {
  outline: 2px solid var(--form-focus-within);
}

.subscribtion .input_email:hover {
  outline: 2px solid var(--form-hover-within);
}


.subscribtion .button {
  width: 130px;
  height: 44px;
  border: none;
  margin-bottom: 1px;
  cursor: pointer;
}

.container.news {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*Feedback */

.map-wrapper {
  position: relative;
  min-width: 1200px;
  width: 100%;
  min-height: 430px;
  background: url(../img/map-main7.jpg); /*если карта не загрузится*/
  /*background-color: var(--white-transparent-popup); /*если карта не загрузится*/
}

.feedback-container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  min-width: 1200px;
}

.feedback {
  z-index:1;
  position: absolute;
  top: 1px;
  right: calc(50% - 600px);
  box-shadow: 0px 10px 10px var(--box-shadow-menu);
  box-sizing: border-box;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  color: var(--asphalt);
  width: 303px;
  height: 306px;
  background-color: var(--white-cofee-sub);
  border-radius: 16px;
  padding-left: 25px;
  padding-top: 32px;
  margin-left: auto;
  margin-top: 62px;
  margin-right: 27px;
}

.feedback p {
  font-size: 14px;
  line-height: 20px;
  margin-top: -3px;
  margin-bottom: 26px;
}

.feedback a {
  text-decoration: none;
}

.subscr-bold {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 2px;
}

.feedback .button {
  width: 253px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 29px;
}

/*Paginator*/

.paginator {
  position: relative;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-bottom: 31px;
  margin-top: 63px;
  /*margin-right:66px;*/
}

.page-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--asphalt);
}

.page-item:last-child {
  margin-right: 0px;
  width: 12px;
  padding-left:5px;
}

.page-item:first-child {
  margin-right: 4px;
}

.paginator .page-inactive {
  color: var(--white);
}

.page-inactive a {
  color: var(--white);
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.page-inactive:hover:not(:last-child) a {
  background: var(--white-transparent-popup);
}

.page-inactive:active:not(:last-child) a{
  background: var(--white);
  color: var(--asphalt)
}


.page-active {
  background-color: var(--white);
  color: var(--asphalt);
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

/*Footer */

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 103px;
  border-top: 1px solid var(--white-transparent-popup);
  padding-top: 18px;
}

.footer a:hover {
  color: var(--a-hover);
}

/* Social */
.social ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-left: -9px;
  margin-top: 15px;
}

.social a {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-left: 8px;
  border: 2px solid var(--social-border);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.social a:active {
  border: 2px solid var(--social-border-active);
}

.svg-social:hover path,
.svg-social:hover g {
  fill: var(--white);
  fill-opacity: 1;
  opacity: 1;
}

/* Add info */

.add-info {
  padding-right: 142px;
}

.add-info ul {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  color: var(--white);
  margin: 0;
  padding: 0;
  margin-top: 14px;
  margin-left: 48px;
  height: 45px;
}

.add-info li {
  margin-left: 4px;
  padding-bottom: 4px;
}

.add-info :nth-child(3),
.add-info :nth-child(4) {
  margin-left: 33px;
}

.add-info a {
  color: var(--white);
}

.add-info a:hover {
  color: var(--a-hover);
}
.add-info a:active {
  color: var(--a-active);
}

.add-info-bold {
  font-weight: bold;
}

.add-info li:first-child::before {
  position: absolute;
  top: 3px;
  left: -18px;
  content: url(../img/heart.svg);
}

/* Developer */

.developer {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 18px;
}

.developer a {
  color: var(--white);
  text-decoration: none;
}

.developer a:hover {
  color: var(--a-hover);
}

.developer a:active {
  color: var(--a-active)
}


.developer img {
  align-self: flex-start; /*по дефолту флекс растягивает картинку*/
  width: 108px;
  height: 39px;
  margin-top: -1px;
  margin-bottom: 2px;
  margin-left: -1px;
}

/* Modals */

/*Search*/

.search-field {
  z-index: 10;
  position: absolute;
  top: 41px;
  right: 0px;
  align-items: center;
  justify-content: center;
  width: 341px;
  height: 84px;
  background: var(--white-cofee);
  box-shadow: 0px 20px 20px var(--box-shadow-menu);
  border-radius: 4px;
  margin-bottom: 15px;
}

.search-field input[type='search'] {
  width: 311px;
  height: 44px;
  background: var(--white);
  border: 1px solid var(--border-box-menu);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: 'Roboto','Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding-left: 24px;
}

.search-field input[type='search']:hover {
  outline: 2px solid var(--form-hover-within);
}

.search-field input[type='search']:focus-within {
  outline: 2px solid var(--form-focus-within);
}


/*Login form*/

.login-form {
  z-index: 10;
  position: absolute;
  top: 41px;
  right: 0px;
  /*display: flex;*/
  flex-direction: column;
  /*justify-content: space-around;*/
  width: 277px;
  height: 214px;
  background-color: var(--white);
  background: var(--white-cofee);
  box-shadow: 0px 20px 20px var(--box-shadow-menu);
  border-radius: 4px;
}

.login-form .authoriz-pswrd {
  margin-top: 25px;
  
}

.login-form .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103px;
  height: 44px;
  border: none;
  margin-left: 19px;
  margin-top: 20px;
}

.login-form input[type='email'],
.login-form input[type='password'] {
  box-sizing: border-box;
  font: inherit;
  color: var(--login-color);
  background-color: var(--white);
  border: 1px solid var(--email-input-border);
  border-radius: 4px;
  color: var(--asphalt);
  font-size: 16px;
  line-height: 20px;
  width: 241px;
  height: 44px;
  border: 1px solid var(--border-box-menu);
  margin-left: 19px;
  margin-top: 20px;
  padding-left: 13px;
  font-family: 'Roboto','Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.login-form input[type='password'] {
  margin-top: 20px;
}


.login-form input:hover {
  outline: 2px solid var(--form-hover-within);
}

.login-form input:focus,
.login-form input:active {
  outline: 2px solid var(--form-focus-within);
  font-weight: bold;
}

.login-form a {
  font-size: 13px;
  line-height: 15px;
  color: var(--asphalt);
  margin-bottom: 5px;
}

.login-form a:hover {
  color: var(--a-hover);
}

.login-form a:active {
  color: var(--a-active);
}

.regbuttons {
  position: absolute;
  right: 16px;
  bottom: 22px;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}

/* Cart form */

.cart-field {
  z-index: 10;
  position: absolute;
  bottom: -242px;
  right: 0px;
  width: 539px;
  height: 242px;
  font-size: 13px;
  line-height: 16px;
  background-color: var(--white-cofee);
  box-shadow: 0px 20px 20px var(--box-shadow-menu);
  border-radius: 4px;
  font-family: 'Roboto','Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}


.cart-field tr {
  position: relative;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding: 0;
  margin-top: 12px;
  margin-left: 9px;
}

.cart-field td {
  display: inline-block;
  vertical-align: baseline;
  margin:0;
  padding:0;
  margin-top:0px;
  margin-left:0px;
  color: var(--asphalt);
}

.cart-field td:nth-child(1) {
  margin-top: -10px;
  margin-left: 0px;
}


.cart-field td:nth-child(2) {
  margin-top: 3px;
  margin-left: 25px;
}

.cart-field td:nth-child(3) {
  margin-top: 0px;
  margin-left: 10px;
}

.cart-field td:nth-child(3) {
  margin-top: 0px;
  margin-left: 10px;
}


.cart-img {
  width: 33px;
  height: 33px;
  top: 4px;
  left: 30px;
  position: absolute;
}


.cart-field td:nth-child(4) {
  margin-top: 0px;
  margin-left: 31px;
}

.cart-field td:nth-child(5) {
  margin-top: 0px;
  margin-left: 26px;
}

.cart-field p {
  color: var(--asphalt);
}

.cart-field .total-amount {
  position: relative;
  font-weight: bold;
  font-size: 15px;
  text-align: end;
  margin-right: 16px;
  margin-top: 17px;
  color: var(--asphalt);
}

.total-amount::before {
  content: url(../img/cart-line.svg);
  position: absolute;
  top: -30px;
  left: 16px;
}

.transp-price {
  color: var(--transp-price);
}

.mult-price {
  color: var(--multp-price);
}

.cart-field .cart-button {
  width: 172px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto','Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
}

.cart-button {
  position: absolute;
  text-decoration: none;
  color: var(--white);
  margin-left: auto;
  margin-right: 14px;
}


.cart-cross {
  position: relative;
  left: -4px;
  top: 1px;
  margin: 15px;
  padding: 0;
  border: none;
  background: transparent;
  border: none;
  background-color: transparent;
}

.heading {
  font-family: 'Roboto','Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

/** Filter **/

.form-filter {
  display: flex;
  flex-wrap: wrap;
  min-width: 869px;
  min-height: 130px;
  margin-top: 27px;
}

.filter {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border: none;
}

/* Sort by*/

.filter-sort-by-wrp {
  position: relative;
  max-width: 196px;
  max-height: 56px;
}

.filter > label,
.filter > legend {
  font-size: 14px;
  line-height: 16px;
  margin-left: 16px;
  margin-bottom: 6px;
}

.filter-sort-by-wrp select {
  z-index:2;
  width: 196px;
  height: 36px;
  background-color: transparent;
  background: var(--white-transparent-popup);
  border: none;
  border-radius: 20px;
  color: var(--white);
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: -1px;
  -webkit-appearance: none; /*убираем стрелку*/
  -moz-appearance: none; /*убираем стрелку*/
  appearance: none; /*убираем стрелку*/
  cursor: pointer;
}

.sort-by-select:hover {
  color: var(--asphalt);
}

.filter-sort-by-wrp svg {
  z-index:1;
  position: absolute;
  top: 35px;
  left: 171px;
}

.sort-by-select:hover + svg path {
  fill: var(--asphalt);
}

.filter-sort-by-wrp option {
  background-color: transparent;
  color: var(--asphalt);
}

.filter-sort-by-wrp option:hover {
  border: none;
}

/*Price by*/

.filter-item {
  width: 218px;
  height: 56px;
}

.range-controls {
  position: relative;
  width: 218px;
  height: 20px;
  background: var(--white-transparent-popup);
  border-radius: 20px;
  padding-top: 16px; /*для серой полоски*/
}

.range-controls .scale {
  width: 176px;
  height: 2px;
  margin-left: 21px;
  margin-right: 21px;
  background: var(--white-transparent-popup);
}

.range-controls .bar {
  height: 2px;
  background: var(--white-cofee);
}

.range-controls .toggle {
  position: absolute;
  cursor: pointer;
  top: 7px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--transp-price);
  border: 8px solid var(--white);
  box-shadow: 0 2px 1px 0 var(--toggle-shadow); 
}

.toggle-min {
  left: 34px;
}

.toggle-max {
  left: 132px;
}

.toggle-min:hover {
  top:6px;
  left: 33px;
  border:9px solid var(--white);
}

.toggle-max:hover {
  top:6px;
  left: 131px;
  border:9px solid var(--white);
}

.price-controls input {
  font-size: inherit;
  width: 23px;
  background: none;
  border: none;
  color: var(--white);
  text-align: center;
  font-family: 'Roboto','Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-left: 14px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-controls {
  position: relative;
}

.min-price {
  position: absolute;
  top: -24px;
  left: 40px;
}

.max-price {
  position: absolute;
  top: -24px;
  left: 95px;
}

/*Fat content*/
.filter-fat-content-wrp {
  display: flex;
  flex-direction: row;
  width: 425px;
  height: 56px;
}

.filter-fat-content-wrp ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 425px;
  height: 36px;
  background: var(--white-transparent-popup);
  border-radius: 20px;
}

.fat-list label {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 16px;
  font-family: 'Roboto','Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.fat-list .filter-fat-0 {
  margin-left: 28px;
}

.fat-item {
  position: absolute;
  /*visibility: hidden;*/
  opacity: 0;
}

.fat-item + label::before {
  /*круги, обводка*/
  box-sizing: border-box;
  content: '';
  position: absolute;
  left: -33px;
  top: -3px;
  width: 22px;
  height: 22px;
  border: 3px solid var(--white-transparent);
  border-radius: 50%;
  background-color: transparent;
}

.fat-item:hover:enabled + label::before {
  /*т.к. псевдоэлемент и псевдокласс не работают вместе''*/
  border: 3px solid var(--white);
}

.fat-item:checked:focus:enabled + label::before {
  /*т.к. псевдоэлемент и псевдокласс не работают вместе''*/
  outline: -webkit-focus-ring-color auto 1px;
  border: 3px solid var(--white);
}


.fat-item:checked:enabled + label::after {
  content: '';
  position: absolute;
  top: 4px;
  left: -26px;
  width: 7.92px;
  height: 7.92px;
  border-radius: 50%;
  background-color: var(--white-transparent);
}

.fat-item:checked:hover:enabled + label::after {
    /*т.к. псевдоэлемент и псевдокласс не работают вместе''*/
  background-color: var(--white);
}

.fat-item:focus:enabled + label::after {
    /*т.к. псевдоэлемент и псевдокласс не работают вместе''*/
  background-color: var(--white);
}

/*Fillers*/

.filter-fillers-wrp ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  width: 711px;
  min-height: 36px;
  background: var(--white-transparent-popup);
  border-radius: 20px;
  margin-top: 10px;
}

.filler-list li:nth-child(1) {
  margin-left: 20px;
}

.filler-list li:nth-child(2) {
  margin-left: -4px;
}

.filler-list li:nth-child(3) {
  margin-left: 1px;
}

.filler-list li:nth-child(5) {
  margin-right: -8px;
}

.filler-item {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}


.filler-item:checked + label::after {
  content: url(../img/checkbox-on.svg);
  position: absolute;
  top: 0px;
  left: -32px;
  background-color: var(--basic-green),var(--white-transparent-popup);
  cursor: pointer;
  opacity: 0.8;
}

.filler-item:checked:hover:enabled + label::after {
  opacity: 1;
}

.filler-item:checked:enabled + label::after svg path {
  fill: var(--white-transparent);
}

.filter-fillers-wrp {
  margin-top: 14px;
  position: relative;
}

.filler-list label {
  position: relative;
  font-family: 'Roboto','Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

.filler-item:not(:checked) + label::before {
  box-sizing: border-box;
  content: '';
  position: absolute;
  left: -32px;
  top: 0px;
  width: 21px;
  height: 20px;
  border: 1.858px solid var(--white-transparent);
  border-radius: 14%;
  background-color: transparent;
  cursor: pointer;
}

.filler-item:not(:checked):hover:enabled + label::before {
  border: 1.858px solid var(--white);
}

.filler-item:focus:enabled + label::after {
  /*т.к. псевдоэлемент и псевдокласс не работают вместе''*/
  outline: -webkit-focus-ring-color auto 1px; 
  opacity: 1;
}

.filler-item:not(:checked):focus + label::before {
  /*т.к. псевдоэлемент и псевдокласс не работают вместе''*/
  outline: -webkit-focus-ring-color auto 1px; 
  border: 1.858px solid var(--white);
}


.form-filter > button {
  width: 144px;
  height: 36px;
  margin-top: 40px;
  margin-left: -2px;
  background: var(--white-transparent-popup);
  border: 2px solid var(--white);
  box-sizing: border-box;
  border-radius: 20px;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

.form-filter > button:hover {
  background-color: var(--white);
  color: var(--asphalt);
  border: none;
}

.form-filter > button:active {
  background-color: var(--white);
  color: var(--asphalt);
  box-shadow: inset 0px 2px 1px var(--menu-button-shadow);
  border: none;
}

/*Feedback form*/

.megamap {
  width:100%;
  height:100%;
  padding: 0; 
  margin: 0;
}

.feedback-form {
  z-index: 15;
  /*top: 337px;*/
  top: calc(50% - 230px);
  left: calc(50% - 230px);
  position: fixed;
  /*display: flex;*/
  flex-direction: column;
  align-self: flex-start;
  width: 477px;
  height: 441px;
  background: var(--white-cofee);
  border-radius: 6px;
}

.feedback-form h2 {
  position: relative;
  width: 349px;
  height: 17px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding-left: 24px;
  color: var(--asphalt);
  margin-top: 16px;
  margin-bottom: 31px;
}

.feedback-form .button-close {
  position: absolute;
  top: 14px;
  right: 9px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}


.feedback-form [method='post'] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  font-family: 'Roboto','Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.feedback-form input[type='text'] {
  width: 267px;
  height: 44px;
  background: var(--white);
  border: 1px solid var(--email-input-border);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 14px;
}

.feedback-form input[type='text']:hover {
  outline: 2px solid var(--form-hover-within);
}

.feedback-form input[type='text']:focus-within {
  outline: 2px solid var(--form-focus-within);
}

.feedback-form textarea {
  width: 428px;
  height: 154px;
  resize: none;
  background: var(--white);
  border: 1px solid var(--email-input-border);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 25px;
  padding-left: 14px;
  padding-top: 10px;
}

.feedback-form textarea:hover {
  outline: 2px solid var(--form-hover-within);
}

.feedback-form textarea:focus-within {
  outline: 2px solid var(--form-focus-within);
}

.feedback-form button[type='submit'] {
  border: none;
  width: 140px;
  height: 44px;
  align-self: flex-end;
  margin-right: 25px;
}

/*Hidden*/

.visually-hidden {
  display: none;
}

.site-menu-catalog:hover + .catalog-submenu {
  display: flex;
}

.catalog-submenu:hover {
  display: flex;
}

.visually-show {
  display: flex;
}

.visually-show-inlblock {
  display: inline-block;
  vertical-align: baseline;
}

.modal-wrapper {
  position: fixed;
  z-index: 2;
  background-color: var(--modal-wrapper);
  width: 100%;
  height: 100%;
}

.modal-dark-wrapper {
  z-index:15;
  position: fixed;
  background-color: var(--modal-dark-wrapper);
  width: 100%;
  height: 100%;
}