/* Variables */

:root {
  --white: #ffffff;
  --white-cofee: #f8f7f4;
  --white-cofee-sub: #fefefe;
  --white-transparent: rgba(255, 255, 255, 0.8);
  --white-transparent-popup: rgba(255, 255, 255, 0.2);
  --orange-bright-cart: #e84d37;
  /**/
  --orange-normal-button: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --orange-push-button: linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  /*--orange-point-button: linear-gradient(180deg, #f26843 0%, #e74a35 100%);*/
  --button-hover: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  --button-activate: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.07),
      rgba(0, 0, 0, 0.07)
    ),
    linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  /**/
  --basic-blue: #8996a6;
  --basic-green: #849d8f;
  --basic-gray: #9d8b84;
  --asphalt: #323232;
  --subscribtion-text: #5a5a5a;
  --box-shadow: rgba(172, 16, 0, 0.64);
  --box-shadow-menu: rgba(0, 0, 0, 0.4);
  --box-shadow-inset: 0px 2px 2px #942718;
  --border-box-menu: #d3d3d2;
  --menu-button-shadow: #696969;
  --menu-button-backg-activ: #ededed;
  --email-input-border: rgba(178, 178, 178, 0.52);
  --transp-price: #ababab;
  --multp-price: #000000;
  --text-shadow: rgba(160, 32, 11, 0.76);
  --current-page: #d07058;
}

/* Global */

.button {
  font: inherit; /*по умолчанию у браузеров monospace*/
  text-align: center;
  background: var(--orange-normal-button);
  vertical-align: middle;
  color: var(--white);
  border-radius: 70px;
  font-size: 18px;
  line-height: 24px;
  box-shadow: 0px 2px 2px var(--box-shadow);
  text-shadow: 0px 2px 5px var(--text-shadow);
  border: none;
}

.button:hover {
  border: none;
  background-image: var(--button-hover);
}

.button:active {
  background-image: var(--button-activate);
  box-shadow: inset var(--box-shadow-inset);
  border-radius: 50px;
}

input:active {
  border: none; /*!как убрать обводку*/
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px; /*! в проекте есть 14, 16, 60; но почти все 16px. как быть */
  line-height: 22px;
  color: var(--white);
  text-decoration: none;
}

img {
  max-width: 100%; /*не больше чем контейнер*/
  height: auto; /*для созранения пропорции картинки*/
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
  /*!не работает изза обертки слайдера на стиль сайта*/
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  /*шапка,боди,футер*/
  align-content: start;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto; /*выравнивание по центру*/
  padding: 0 27px;
}

/* Header */

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 154px;
  height: 64px;
  order: -1; /*ставит лого на 1 место. можно удалить*/
}

.breadcrumbs {
  position: relative;
  display: flex;
  list-style: none;
  color: var(--white);
  margin-bottom: 9px;
}

.breadcrumbs a,
.breadcrumbs .currentpos {
  margin-right: 22px;
  color: var(--white);
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li:nth-child(2)::before {
  position: absolute;
  top: -1px;
  left: 89px;
  content: url(../img/bread-arrow.svg);
}

.breadcrumbs li:nth-child(3)::before {
  position: absolute;
  top: -1px;
  left: 164px;
  content: url(../img/bread-arrow.svg);
}

.site-navigation {
  outline: 5px solid red; /*граница*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 9px;
}

.site-navigation ul {
  margin: 0;
  padding: 0;
}

.site-menu-inactive {
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 13px;
  padding-right: 13px;
  color: var(--white);
  font-weight: bold;
  margin-right: 19px;
  border-radius: 26px;
}

.site-menu-inactive[href]:hover {
  color: var(--asphalt);
  background-color: var(--white);
}

.site-menu-inactive[href]:active {
  background: var(--menu-button-backg-activ);
  box-shadow: inset 0px 2px 1px var(--menu-button-shadow);
}

.site-menu-active:not(:first-of-type):hover,
.user-navigation > a:hover[href] {
  background-color: var(--white);
  color: var(--asphalt);
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.site-menu-active {
  background-color: var(--current-page);
  text-decoration: none;
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 13px;
  padding-right: 13px;
  color: var(--white);
  font-weight: bold;
  margin-right: 19px;
  border-radius: 26px;
  font-size: 16px;
  line-height: 18px;

}

.site-menu-active[href]:hover {
  background-color: var(--current-page);
  color: var(--white);
}


.catalog-submenu {
  display: none;
  z-index: 10;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 191px;
  top: 60px;
  min-width: 143px;
  background-color: var(--white);
  box-shadow: 0px 20px 20px var(--box-shadow-menu);
  border-radius: 4px;
  min-width: 143px;
  min-height: 171px;
  padding: 0px;
  margin: 0px;
}

.catalog-submenu li {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
}

.catalog-submenu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  /*width:100%;/*!почему выпадает из родителя?*/
  height: 27px;
  padding-left: 21px;
  color: var(--asphalt);
}

.catalog-submenu li:first-child {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.site-navigation img {
  margin-right: 24px;
}

.user-navigation {
  display: flex;
  position: relative;
  align-items: center;
  outline: 5px solid green; /*граница*/
}

.separator {
  position: absolute;
  top: 38px;
  left: 6px;
}

.catalog-submenu li:hover:not(:first-child) {
  background-color: #fbded7;
}

.user-navigation > a {
  margin-right: 10px;
}

.login svg,
.cart svg {
  position: absolute;
  left: 16px;
}

.button-hover:hover .svg-menu path { /*!тройной селектор*/
  fill: var(--asphalt);
}

.menu-text-login {
  padding-left: 44px;
}

.menu-text-cart {
  padding-left: 45px;
}

.user-navigation .button-hover:hover {
  background-color: var(--white);
  color: var(--asphalt);
}

.user-navigation a {
  display: flex;
  position: relative;
  text-decoration: none;
  color: var(--white);
  background-color: var(--white-transparent-popup);
  vertical-align: middle; /*! не работает для img*/
  align-items: center;
  border-radius: 20px;
}

.user-navigation .search {
  min-width: 32px;
  min-height: 32px;
  justify-content: center;
}

.user-navigation .login {
  min-width: 92px;
  min-height: 32px;
}

.user-navigation .cart {
  min-width: 100px;
  min-height: 32px;
}

.work-time-bold {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

.work-time {
  /*!margin-left: auto; перестало работать. включил флекс*/
  display: flex;
  justify-content: flex-end;
}

/* Slider */

.site-wrapper-main {
  /*для каталога*/
  background-color: var(--basic-green);
}

.site-wrapper-1 {
  /*для JS*/
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: var(--basic-green);
}

.site-wrapper-2 {
  /*для JS*/
  background-image: url("../img/slider-item2.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: var(--basic-blue);
}

.site-wrapper-3 {
  /*для JS*/
  background-image: url("../img/slider-item3.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: var(--basic-gray);
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 321px; /*раздвигаем контейнер*/
  text-align: center;
}

.slide-title {
  max-width: 672px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.slider-list {
  /*убирае отступы списка по умлочанию*/
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item .slide-button {
  display: flex;
  width: 278px;
  height: 63px;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
  margin-bottom: 40px;
}

.slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider-controls {
  margin-right: 8px;
  position: absolute;
  bottom: 63px;
  left: 27px;
  z-index: 20;
}

.slider-controls .bullet {
  width: 21px;
  height: 21px;
  border: 2px solid var(--white);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.slider-controls .current {
  background-color: var(--white);
}

.slide {
  display: none;
}

.slide-current {
  display: flex;
}
/* Features */

.features-wrapper {
  outline: 5px solid rgb(44, 202, 189); /*граница*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}

.features-raspb h2,
.features-choko h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  padding-left: 16px;
}

.features-raspb p,
.features-choko p {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  padding-left: 16px;
}

.features-raspb a,
.features-choko a {
  text-decoration: none;
  color: var(--white);
}

.features-raspb {
  width: 560px;
  height: 229px;
  background-image: url(../img/raspberry_back.jpg);
  background-size: 100%;
  border-radius: 16px;
  box-shadow: 0px 2px 2px var(--box-shadow);
}

.features-choko {
  width: 560px;
  height: 229px;
  background-image: url(../img/choko_back.jpg);
  background-size: 100%;
  border-radius: 16px;
  box-shadow: 0px 2px 2px var(--box-shadow);
}

.button.strawb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 164px;
  height: 48px;
  margin-left: 374px;
}

.button.choko {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 48px;
  margin-left: 347px;
}

/* Showcase */

.showcase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;
  z-index: 10;
  margin-bottom: 40px;
  outline: 5px solid rgb(255, 255, 255); /*граница*/
}

.showcase-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 293px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;
}

.showcase-item:hover {
  background-color: var(--white-transparent-popup);
  box-shadow: 0px 20px 20px var(--box-shadow);
  border-radius: 4px;
}

.showcase-img {
  width: 267px;
}

.showcase li {
  display: flex;
  position: relative;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  width: 267px;
}

.showcase h2 {
  font-weight: 500;
  font-size: 16px;
}

.showcase p {
  top: 200px;
  left: 12px;
  position: absolute;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
}

.showcase .weight {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
}

.showcase-button {
  width: 200px;
  height: 44px;
  text-decoration: none;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase-button a {
  text-decoration: none;
  vertical-align: middle;
  color: var(--white);
}

.showcase-main li::after {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
  z-index: 10;
  content: url(../img/hit.svg);
  top: 10px;
  left: 18px;
}

/* Advantages */

.advantages-items {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.advantages-wrapper {
  color: var(--asphalt);
  background-image: url(../img/vaffle_pattern2.jpg); /* ".." выходим из папки css на уровень вверх, и заходим в папку img */
  background-repeat: repeat;
  width: 1146px;
  border-radius: 16px;
  margin-bottom: 40px;
}

.advantages h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-top: 24px;
  padding-left: 20px;
}

.advantages-items p {
  font-size: 16px;
  line-height: 22px;
  margin-left: 75px;
}

.advantages-items p:first-child::before {
  position: absolute;
  top: 10px;
  left: 21px;
  content: url(../img/ice_sundae2.svg);
}

.advantages-items p:nth-child(2)::before {
  position: absolute;
  top: 10px;
  left: 567px;
  content: url(../img/cow2.svg);
}

.advantages-items p:nth-child(3)::before {
  position: absolute;
  top: 105px;
  left: 21px;
  content: url(../img/eco2.svg);
}

.advantages-items p:nth-child(4)::before {
  position: absolute;
  top: 105px;
  left: 567px;
  content: url(../img/thermometr2.svg);
}

/* Blog new */

.container.newsubscr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 5px solid rgb(30, 255, 0); /*граница*/
  margin-bottom: 40px;
}

.blog-new-wrapper {
  background-image: url(../img/strawberry_back.jpg);
  background-image: 100%;
  width: 560px;
  height: 220px;
  border-radius: 16px;
  outline: 5px solid rgb(0, 174, 255); /*граница*/
}

.blog-new {
  padding-left: 20px;
  text-align: left;
  color: var(--asphalt);
}

.blog-new h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.blog-new h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding-top: 23px;
}

.blog-new a {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--asphalt);
}

/* Subscribtion */

.subscr-wrapper {
  display: flex;
  background-image: url(../img/post_back.png);
  width: 560px;
  height: 220px;
  outline: 5px solid rgb(0, 255, 234); /*граница*/
}

.subscribtion {
  text-align: left;
  border-radius: 16px;
  background-color: var(--white-cofee);
  color: var(--subscribtion-text);
  width: 548px;
  height: 210px;
  padding-left: 20px;
  margin-top: 5px;
  margin-left: 6px;
  margin-right: 6px;
}

.subscribtion .input_email {
  border: 1px solid var(--email-input-border);
  border-radius: 6px;
  width: 368px;
  height: 44px;
}

.subscribtion .button {
  width: 130px;
  height: 44px;
  border: none;
  box-shadow: 0px 2px 2px var(--box-shadow);
}

.container.news {
  display: grid;
  grid-template-columns: 1fr 1fr;
  outline: 5px solid var(--white-transparent); /*граница*/
}

/*Feedback */

.map-wrapper {
  min-width: 1200px;
  min-height: 430px;
  background: url(../img/map-main7.jpg);
  background-color: var(--white-transparent-popup); /*если карта не загрузится*/
}

.feedback-container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 1200px;
}

.feedback {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  color: var(--asphalt);
  width: 303px;
  height: 306px;
  background-color: var(--white-cofee-sub);
  border-radius: 16px;
  padding-left: 25px;
  padding-top: 32px;
  margin-left: auto;
  margin-top: 62px;
  margin-right: 27px;
}

.feedback p {
  font-size: 14px;
  line-height: 20px;
}

.feedback a {
  text-decoration: none;
  color: var(--white);
}

.subscr-bold {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 2px;
}

.feedback .button {
  box-shadow: 0px 2px 2px var(--box-shadow);
  width: 253px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
}

/*Paginator*/

.paginator {
  position: relative;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-bottom: 27px;
  margin-top: 80px;
}

.paginator .page-item {
  /*! НЕ СРАБОТАЛО ВЫРАВНИВАНИЕ ВЕРТ ! display: inline-block;
  vertical-align: middle;
  text-align: center;*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 12px;
}

.page-item:last-child {
  margin-right:26px; /*!у меня добавляет отступы всем li.демо 28/28*/
}

.paginator li:last-of-type::after {
  position: absolute;
  width:7px;
  height: 12px;
  background-image: url(../img/array-right-small.svg);
  background-repeat: no-repeat;
  background-color: red;
}

.paginator .page-inactive {
  color: var(--white);
}

.paginator .page-inactive:hover {
  background: var(--white-transparent-popup);
}

.page-active {
  background-color: var(--white);
  color: var(--asphalt);
}

/*Footer */

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 70px;
  border-top: 1px solid var(--white);
  padding-top: 18px;
}

.footer a:hover{
  color: #FFBC9E;
}

/* Social */
.social ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.social a {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-left: 12px;
  border: 2px solid var(--white-transparent-popup);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.svg-social:hover path,
.svg-social:hover g {
  fill: var(--white);
  fill-opacity: 1;
  opacity: 1; /*!только для инстаграма?*/
}

/* Add info */
.add-info ul {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  color: var(--white);
}

.add-info a {
  color: var(--white);
}

.add-info a:hover,
.add-info a:active {
  color: #FFBC9E;
}

.add-info-bold {
  font-weight: bold;
}

.add-info li:first-child::before {
  position: absolute;
  top: 2px;
  left: 19px;
  content: url(../img/heart.svg);
}

/* Developer */

.developer {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 18px;
}

.developer a {
  color: var(--white);
  text-decoration: none;
}

.developer a:hover,
.developer a:active {
  color: #FFBC9E;
}

.developer img {
  align-self: flex-start; /*по дефолту флекс растягивает картинку*/
}

/* Modals */

/*Search*/

.search-field {
  z-index: 10;
  position: absolute;
  top: 55px;
  right: 222px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 341px;
  height: 84px;
  background: var(--white-cofee);
  box-shadow: 0px 20px 20px var(--box-shadow-menu);
  border-radius: 4px;
  margin-bottom: 15px;
}

.search-field input[type="search"] {
  width: 311px;
  height: 44px;
  background: var(--white);
  border: 1px solid var(--border-box-menu);
  box-sizing: border-box;
  border-radius: 4px;
}

/*Login form*/

.login-form {
  z-index: 10;
  position: absolute;
  top: 55px;
  right: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 277px;
  height: 214px;
  background-color: var(--white);
  background: var(--white-cofee);
  box-shadow: 0px 20px 20px var(--box-shadow-menu);
  border-radius: 4px;
}

.login-form .authoriz_pswrd {
  margin-top: 25px;
}

.login-form .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103px;
  height: 44px;
  border: none;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  box-sizing: border-box;
  font: inherit;
  color: #999999;
  background-color: var(--white);
  border: 1px solid var(--email-input-border);
  border-radius: 4px;
  color: var(--asphalt);
  font-size: 16px;
  line-height: 20px;
  width: 241px;
  height: 44px;
  border: 1px solid var(--border-box-menu);
  margin-left: 19px;
}

.login-form input:focus,
.login-form input:active {
  border: 2px solid rgba(46, 136, 228, 0.52);
  font-weight: bold; /*!как сделать жирный текст после ввода текста и перемещения фокуса?*/
}

.login-form a {
  font-size: 13px;
  line-height: 15px;
  color: var(--asphalt);
}

.login-form a:hover {
  color: #E84D37;
}


.login-form .registration {
  display: flex;
  justify-content: space-between;
  width: 241px;
  margin-left: 19px;
}

.regbuttons {
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
}

/* Cart form */

.cart-field {
  z-index: 10;
  position: absolute;
  bottom: -227px;
  right: 10px;
  width: 539px;
  height: 242px;
  font-size: 13px;
  line-height: 16px;
  background-color: var(--white-cofee);
  box-shadow: 0px 20px 20px var(--box-shadow-menu);
  border-radius: 4px;
}

.cart-field p {
  color: var(--asphalt);
}

.cart-field .total-amount {
  font-weight: bold;
  font-size: 15px;
  text-align: end;
  margin-right: 14px;
}

.transp-price {
  color: var(--transp-price);
}

.mult-price {
  color: var(--multp-price);
}

.cart-field .cart-button {
  width: 172px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-button {
  text-decoration: none;
  color: var(--white);
  margin-left: auto;
  margin-right: 14px;
}

.cart-img {
  width: 33px;
  height: 33px;
}

.cart-cross {
  margin: 0;
  padding: 0;
  padding-left: 21px;
  padding-right: 9px;
  border: none;
  background: transparent;
}

h1 {
  margin-bottom: 29px; /*!НЕ РАБОТАЕТ*/
}

/** Filter **/

.form-filter {
  display: flex;
  flex-wrap: wrap;
  min-width: 869px;
  min-height: 130px;
  margin-top: 29px;
}

.filter {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border: none;
}

/* Sort by*/


.filter-sort-by-wrp {
  position: relative;
  max-width: 196px;
  max-height: 56px;
}

.filter label,
.filter legend {
  font-size: 14px;
  line-height: 16px;
  margin-left: 16px;
  margin-bottom: 7px;
}

.filter-sort-by-wrp select {
  width: 196px;
  height: 36px;
  background-color: transparent;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  color: var(--white);
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  -webkit-appearance: none; /*убираем стрелку*/
  -moz-appearance: none; /*убираем стрелку*/
  appearance: none; /*убираем стрелку*/
}

.filter-sort-by-wrp select:hover {
  color: var(--asphalt);
}

.sort-by-select:hover .menu-arrow path { /*!тройной селектор*/
  fill: var(--asphalt); /*@@*/
}

.filter-sort-by-wrp svg {
  position: absolute;
  top: 31px;
  left: 171px;
}

.filter-sort-by-wrp option {
  background-color: transparent;
  color: var(--asphalt);
}

.filter-sort-by-wrp option:hover {
  border: none;
}

/*Price by*/
/*!тут*/
.filter-item {
  width: 218px;
  height: 56px;
}

.range-controls {
  position: relative;
  width: 218px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding-top: 16px; /*для серой полоски*/
}

.range-controls .scale {
  width: 176px;
  height: 2px;
  margin-left: 21px;
  margin-right: 21px;
  background: var(--white-transparent-popup);
}

.range-controls .bar {
  /*width: 70%;
  margin-left: 12%; настройки в html*/
  height: 2px;
  background: #f8f7f4;
}

.range-controls .toggle {
  position: absolute;
  cursor: pointer;
  top: 7px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ababab;
  border: 8px solid white;
  background: #ababab;
  box-shadow: 0 2px 1px 0 rgba(171, 171, 171, 0.3); /*!Тень как это работает*/
}

.toggle-min {
  left: 30px;
}
.toggle-max {
  left: 134px;
}

.price-controls input {
  font-size: inherit;
  font-family: inherit;
  width: 23px;
  background: none;
  border: none;
  color: var(--white);
  text-align: center;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-controls {
  position: relative;
}

.min-price {
  position: absolute;
  top: -24px;
  left: 40px;
}

.max-price {
  position: absolute;
  top: -24px;
  left: 95px;
}

/*Fat content*/
.filter-fat-content-wrp {
  display: flex;
  flex-direction: row;
  width: 425px;
  height: 56px;
}

.filter-fat-content-wrp ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 425px;
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.fat-list label {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 52px;
}


.fat-item + label::before { /*круги, обводка*/
  box-sizing: border-box;
  content: ""; /*! что это*/
  position: absolute;
  left: -39px;
  top: -3px;
  width: 22px;
  height: 22px;
  border: 3px solid var(--white-transparent);
  border-radius: 50%;
  background-color: transparent;
}

.fat-item:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -32px;
  width: 7.92px;
  height: 7.92px;
  border-radius: 50%;
  background-color: var(--white-transparent);
}

#filter-fat-0 {
  margin-left: 14px;
}

/*Fillers*/

.filter-fillers-wrp ul {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  width: 711px;
  height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.filter-fillers-wrp {
  margin-top: 14px;
  position: relative;
}

.filler-list label {
  position: relative;
}

.filler-item + label::before {
  box-sizing: border-box;
  content: ""; 
  position: absolute;
  left: -28px;
  top: -2px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--white-transparent);
  border-radius: 20%;
  background-color: transparent;

}

.form-filter > button {
  width: 144px;
  height: 36px;
  margin-top: 38px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  color: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.form-filter > button:hover {
  background-color: var(--white);
  color: var(--asphalt);
  border: none;
}

.form-filter > button:active {
  background-color: var(--white);
  color: var(--asphalt);
  box-shadow: inset 0px 2px 1px #696969;
  border: none;
}

/*Feedback form*/

.feedback-form {
  z-index: 10;
  top: 309px;
  left: 409px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 477px;
  height: 441px;
  background: var(--white-cofee);
  border-radius: 6px;
}

.feedback-form h2 {
  width: 349px;
  height: 17px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding-left: 24px;
  color: var(--asphalt);
}

.feedback-form [method="post"] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
}

.feedback-form input[type="text"] {
  width: 267px;
  height: 44px;
  background: var(--white);
  border: 1px solid var(--email-input-border);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
}

.feedback-form textarea {
  width: 428px;
  height: 154px;
  background: var(--white);
  border: 1px solid var(--email-input-border);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 25px;
}

.feedback-form button[type="submit"] {
  border: none;
  width: 140px;
  height: 44px;
  align-self: flex-end;
  margin-right: 25px;
}

/*Hidden*/

.visually-hidden {
  display: none;
}

/*!изменение класса по hover для catalog submenu*/
.site-menu-catalog:hover .catalog-submenu {
  display: flex;
}

.visually-show {
  display: flex;
}

.visually-show-inlblock {
display: inline-block;
}

.modal-wrapper {
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.00);
  width: 100%;
  height: 100%;
}

.modal-dark-wrapper {
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}